.header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem; /* en lugar de 12px */
  background-color: #f0f0f0;
}

.titulo h1 {
  margin: 0;
  font-size: 1.2rem; /* en lugar de 18px */
}

.titulo p {
  margin: 0;
  font-size: 0.8rem; /* en lugar de 12px */
  color: gray;
}
