.header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 12px;
  background-color: #f0f0f0; /* igual que desktop */
}

.titulo h1 {
  margin: 0;
  font-size: 18px;
}

.titulo p {
  margin: 0;
  font-size: 12px;
  color: gray;
}
